{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="m-3 col-3"
        <label for="title" class="form-label">Title</label>
        <input class="form-control" name="title" id="title"
        value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="m-3 col-3">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <input type="submit" class="btn btn-primary m-3" value="Save">
  </form>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger m-3" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}